<ion-header-bar class="bar bar-header header-md ">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" ng-show="!searchEnabled">
    <div class="search-box-wrapper">
        <div class="absolute toggle-side-wrapper">
          <a class="button button-icon row"  ng-click="toggleSideBarHome()">
            <i class="ion-navicon-round font-L black"></i>
          </a>
        </div>
    </div>
    <div class="logo-wrapper">
      <a class="button button-icon" href="#/home" style="margin-top: -15px;">
        <img src="img/wedding_fair/WFLogo.png"  style="height:75px;">
      </a>
    </div>
    <!--<div class="absolute cart-icon-wrapper">-->
      <!--<a class="button button-icon row" ng-click="toggleSearch();">-->
        <!--<i class="ion-search font-L black" ></i>-->
      <!--</a>-->
    <!--</div>-->
  </div>
  <!--<div  ng-show="searchEnabled">-->
    <!--<label class="item-input-wrapper">-->
      <!--<i class="icon ion-ios-search placeholder-icon"></i>-->
      <!--<input type="search" placeholder="Search">-->
    <!--</label>-->
    <!--<button class="button button-clear">-->
      <!--Cancel-->
    <!--</button>-->
  <!--</div>-->

</ion-header-bar>



<ion-view  cache-view="false" class="non-scrolling-background">

  <ion-content class="" overflow-scroll="false" style="top:60px;" style="background-color:#0072bc;" >
    <!--<div class="home-background"></div>-->

    <div  overflow-scroll="true">
      <div class="row zero-padding home-button half-opacity" ng-repeat="category in categories" ng-click="goServiceProvidersList()" >
        <div class="list full-height" style="width: 100%;">
          <div class="item item-image full-height zero-margin" style="height:250px;">
            <img src="app/modules/shop/img/new/Gradient_{{categories.indexOf(category)%3+1}}.JPG" class="full-height">
            <div class="gallery-text">
              <h3>
                <span class="capital">{{category.name}}</span><br>
                <span style="font-size: 16px;"><i class="ion-android-person"></i> 100</span>
              </h3>
            </div>
            <div class="bookmarked white">
              <i class="ion-ios-heart"></i>
              <span style="font-size: 16px;">50</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </ion-content>
  <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="right">
    <md-content >
      <img ng-src="img/wedding_fair/side-nav-image.jpg" style="width:100%;height: 140px;">
      <md-list flex>

        <md-list-item class="md-3-line" style="height: 50px; min-height:0px; padding-top: 10px;" >
          <div class="md-list-item-text zero-margin" layout="column" ng-click="openSignIn()">
            <h4><i class="ion-person sidenav-icon"></i><span class="sidenav-options">{{'SIGN_IN' | translate}}</span></h4>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" style="height: 50px; min-height:0px; padding-top: 10px;">
          <div class="md-list-item-text zero-margin" layout="column"  ng-click="openWishList()">
            <h4><i class="ion-ios-heart sidenav-icon"></i><span class="sidenav-options">{{'WISH_LIST' | translate}}</span></h4>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-3-line" style="height: 50px; min-height:0px; padding-top: 10px;">
          <div class="md-list-item-text zero-margin" layout="column" ng-click="logOut()">
            <h4><i class="ion-help sidenav-icon"></i><span class="sidenav-options">{{'HELP_AND_FEEDBACK' | translate}}</span></h4>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" style="height: 50px; min-height:0px; padding-top: 10px;">
          <div class="md-list-item-text zero-margin" layout="column" ng-click="logOut()">
            <h4><i class="ion-android-share-alt sidenav-icon"></i><span class="sidenav-options">{{'SHARE_APP' | translate}}</span></h4>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" style="height: 50px; min-height:0px; padding-top: 10px;">
          <div class="md-list-item-text zero-margin" layout="column" ng-click="logOut()">
            <h4><i class="ion-android-star sidenav-icon"></i><span class="sidenav-options">{{'RATE_US' | translate}}</span></h4>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" style="height: 50px; min-height:0px; padding-top: 10px;">
          <div class="md-list-item-text zero-margin" layout="column" ng-click="logOut()">
            <h4><i class="ion-information-circled sidenav-icon"></i><span class="sidenav-options">{{'ABOUT_US' | translate}}</span></h4>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-3-line" style="height: 50px; min-height:0px; padding-top: 10px;">
          <div class="md-list-item-text zero-margin" layout="column" ng-click="logOut()">
            <h4><i class="ion-android-hand sidenav-icon"></i><span class="sidenav-options">{{'LOG_OUT' | translate}}</span></h4>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

</ion-view>

