<ion-header-bar class="bar bar-header header-md ">
  <div style="width: 100%; display: inherit; margin-top: 5px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-href="#/home">
        <i class="ion-android-arrow-back font-L black"></i>
      </a>
    </div>
    <h4 class="black left-title">Photography</h4>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row" ng-href="#/cart">
        <i class="ion-search font-L black"></i>
      </a>
    </div>
  </div>
</ion-header-bar>

  <ion-content class="has-header-md" overflow-scroll="true">
    <div class="row">
      <div class="col " style="padding: 10px !important;">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/1.jpg" class="full-width full-height">
            <div class="text-on-image card-title-shadow" >
              <h2 class="align-right">PHOTOGRAPHY</h2>
            </div>
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center service-provider-name">JohnDoe Studio</h2>
            <span><i class="ion-ios-heart-outline bookmarked"></i></span>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/2.png" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center service-provider-name">P.Studio</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/3.png" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center service-provider-name">Rose Studio</h2>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/4.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center service-provider-name">A Studio</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/1.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center service-provider-name">J Studio</h2>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/2.png" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center service-provider-name">P. Studio</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 30px;"></div>
  </ion-content>
</ion-view>
