<ion-header-bar class="bar bar-header header-md ">
  <div style="width: 100%; display: inherit; margin-top: 5px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-href="#/home">
        <i class="ion-android-arrow-back font-L black"></i>
      </a>
    </div>
    <h4 class="black left-title">Photography</h4>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row" ng-href="#/cart">
        <i class="ion-search font-L black"></i>
      </a>
    </div>
  </div>
</ion-header-bar>

  <ion-content class="has-header-md" overflow-scroll="true">
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/1.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">JohnDoe Studio</h2>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/2.png" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">P.Studio</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/3.png" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Rose Studio</h2>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/4.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">A Studio</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/1.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">J Studio</h2>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openServiceProvider()">
          <div class="item item-image" >
            <img src="img/wedding_fair/studios/2.png" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">P. Studio</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 30px;"></div>
  </ion-content>
</ion-view>
