<ion-header-bar class="bar bar-header header-md ">
  <div style="width: 100%; display: inherit; margin-top: 5px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-href="#/item-list">
        <i class="ion-android-arrow-back font-L black"></i>
      </a>
    </div>
    <div class="logo-wrapper">
      <h4 style="padding: 0 15px;color: #0476b5;">John Doe Photography</h4>
      <!--<a class="button button-icon" href="#/home"><img src="img/wedding_fair/logo.png"  style="height:47px;"></a>-->
    </div>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row" ng-href="#/home">
        <i class="ion-android-home font-L black"></i>
      </a>
    </div>
  </div>
</ion-header-bar>

<ion-content class="has-header-md">
  <div class="row">
    <div class="row zero-padding"  style="background:url('../app/modules/shop/img/new/Gradient_4.jpg'); height: 200px;">
    <!--<div class="row zero-padding"  style="background: #4f95bc;    height: 200px;">-->
      <div  style="width:160px !important;height: 160px;text-align: center;">
        <img ng-src="img/wedding_fair/studios/3000.jpg" style="width:150px;height: 160px;padding:10px 5px;">
      </div>
      <div style="width: 50%;">
        <div class="row info-row"><i class="ion-android-call"></i> 0776266622 / 0778182888</div>
        <div class="row info-row"><i class="ion-ios-home"></i> No 123<br>Galle Road<br>Bambalapitiya<br>Colombo</div>
        <div class="row info-row"><i class="ion-ios-location"></i> Get Directions</div>
      </div>
      <!--<div>-->
        <div class=" info-row service-provider-bookmark"><i class="ion-android-favorite-outline"></i></div>
        <div class=" info-row service-provider-like"><i class="ion-android-star-outline"></i></div>
      <!--</div>-->
    </div>

  </div>

  <tab-slide-box tab="0">
    <div class="tsb-icons">
      <div class="tsb-ic-wrp">
        <ion-scroll direction="x" class="tsb-hscroll">
          <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
        </ion-scroll>
      </div>
    </div>
    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <!--<div>-->
          <!--<ion-content style="padding-top:10px;">-->
            <!--<ks-swiper-container swiper="swiper"-->
                                 <!--on-ready="onReadySwiper(swiper)"-->
                                 <!--initial-slide="0"-->
                                 <!--speed="2000"-->
                                 <!--show-nav-buttons="false"-->
                                 <!--slides-per-view="1"-->
                                 <!--space-between="0"-->
                                 <!--pagination-is-active="true"-->
                                 <!--pagination-clickable="true"-->
                                 <!--autoplay="2000"-->
                                 <!--override-parameters="{-->
                         <!--effect: 'coverflow',-->
                         <!--coverflow: {-->
                             <!--rotate: 50,-->
                             <!--stretch: 0,-->
                             <!--depth: 100,-->
                             <!--modifier: 1,-->
                             <!--slideShadows : false}-->
                         <!--}">-->
              <!--<ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3]">-->
                <!--<img ng-src="img/wedding_fair/studios/slider/slider-pic-{{s}}.jpg" width="100%">sdfg-->
              <!--</ks-swiper-slide>-->
            <!--</ks-swiper-container>-->
          <!--</ion-content>-->
        <!--</div>-->
      </ion-slide>
      <ion-slide>
        <h3>Games content</h3>
      </ion-slide>
      <ion-slide>
        <h3>Mail content</h3>
      </ion-slide>
    </ion-slide-box>
  </tab-slide-box>
</ion-content>
</ion-view>
